body {
    font-family: Mulish, sans-serif;
    background: #f9f9f9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.img_logo {
    padding: 0 10px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Mulish, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 0
}

li {
    padding: 5px 0;
    padding: 5px 0
}

hr {
    max-width: 400px;
    border-color: #999
}

.address-bar,
.brand {
    display: block;
    text-align: center
}

.navbar-brand {
    font-weight: 900;
    letter-spacing: 2px
}

.navbar-nav {
    font-weight: 400;
    letter-spacing: 3px
}

.img-full {
    min-width: 100%
}

.brand-before {
    margin: 15px 0
}

.brand-name {
    margin: 0;
    font-size: 4em
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999
}

.box {
    margin-bottom: 20px;
    padding: 50px 15px;
    background: none
}

.intro-text {
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999 solid 1px
}

.img-left {
    float: none;
    margin: 0 auto 0
}

.map-code {
    padding: 0
}

.custom-image {
    max-width: 800px;
    width: 100%;
    align: center
}

.card {
    border: none !important;
    border-radius: 0 !important;
}

.p-3 {
    background: #fff;
    box-shadow: 0px 21px 35px rgb(180 185 193 / 29%);
}

svg.logo {
    max-width: 76px;
    position: relative;
    top: 11px;
    left: -25px;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

div#locationConf {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 25px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.50rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-shadow: inherit !important;
}

h1 {
    text-align: center;
    color: #a1362e;
    font-size: 1.75rem;
    margin: 1rem 0;
}

input#address {
    background: url(https://embedmapgenerator.com/img/search-icon.png) no-repeat 8px 10px #fcfcfc;
    padding-left: 35px;
}

.btn-success {
    color: #fff;
    background-color: #27ae60;
    border-color: #29b564;
    -webkit-font-smoothing: antialiased;
}

textarea {
    resize: horizontal;
}

.col-lg-12 {
    color: #333;
}

h2 {
    font-size: 24px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
    display: block;
}

.box {
    font-size: 16px;
    margin-top: 30px;
    text-shadow: inherit !important;
    line-height: 26px;
}

.box h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
}

.box h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
    display: block;
}










